<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Salvavida.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
				<key>dateExpires</key>
				<string>3/21/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.29.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.29.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>telephony.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DAFA58FEFB757A75B237155B340BD3B7387246B9</string>
						<key>dateExpires</key>
						<string>3/21/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>666BF8M65Y</string>
						<key>name</key>
						<string>ITMONSTERS PRODUCTIONS CO.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>666BF8M65Y.com.itmonster.zamboangarescueapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>666BF8M65Y</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SalvaVida.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>646366be-8283-4055-adb3-01c173a8e70e</string>
				<key>dateExpires</key>
				<string>3/21/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.itmonster.zamboangarescueapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>666BF8M65Y</string>
				<key>name</key>
				<string>ITMONSTERS PRODUCTIONS CO.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
